
/*--------------------- Generic --------------------- */
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color:black; 
}

/*--------------------- Navigation --------------------- */

nav{
    display: flex;
    border-radius: 4px;
    padding: 0;
    background-color: #111;
    font-family: 'Abel';
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

nav ul{
    margin: 0;  
}

nav ul a{
    list-style: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 115px;
    text-decoration: none;
    box-sizing: border-box;
}

nav ul a li{
    color: #cfcfcf;
}

#nav-pages{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

nav ul a:hover{
    transition: all 1.5s ease;
    background-color: tomato;
}

#nav-media-icons{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 20px;
}

#nav-media-icons a{
    width: 40px;
}

#nav-media-icons a li{
    width: 100%;
    height: 30px;
    margin: 0;
}

nav img{
    width: 30px;
    height: 30px;
}

/*--------------------- Footer --------------------- */

footer{
    background-color: #111;
    color: #cfcfcf;
    text-align: center;
    padding: 1rem;
}

/*--------------------- Base Layout --------------------- */
#filler{
    width: 100%;
    height: 49px;
}

#logo{
    width: 100%;
    text-align: center;
    background-color: black;
}

#logo p{
    line-height: 80px;
    display: inline-block;
    font-size: 3em;
    font-family: Vivaldi, cursive;
    color: orchid;
}

main{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

/*--------------------- Index Layout --------------------- */
#left-col{
    width: 70%;
    /* height: 600px; */
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#twitter-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tcard{
    width: 40%;
    background-color: green;
    height: 180px;
}

#right-col{
    width: 30%;
    background-color:red;
    min-height: 100%;
}

/*--------------------- Music Layout --------------------- */
#album-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flip{
    width: 300px;
    height: 200px;
    border: 2px black solid;
    margin-top: 20px;
}

.flip > .front{
    position: absolute;
    transform: perspective(1000px) rotateY(0deg);
    background: #fc0;
    width: 300px;
    height: 200px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.5s linear 0s;
}

.flip > .back{
    position: absolute;
    transform: perspective(1000px) rotateY(180deg);
    width: 300px;
    height: 200px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.5s linear 0s;
}

.flip:hover > .front{
    transform: perspective(1000px) rotateY(-180deg);

}

.flip:hover > .back{
    transform: perspective(1000px) rotateY(0deg);
    color:  #cfcfcf;
}

.album img{
    width: 300px;
    height: 200px;
}

.album ul{
    text-align: center;
}

.album ul li{
    border: solid 2px black;
    list-style: none;
    display: inline-block;
    width: 80%;
}

.album h2{
    border-bottom: #cfcfcf solid 2px;
    text-align: center;
}

/*--------------------- Members Layout ---------------------*/

#bio {
    color: white;
    margin-top: 50px;
}

.heads {
    margin-bottom: 15px;
    margin-left: 120px;
    
}

.para {
    margin-bottom: 20px;
    margin-left: 120px;
    width: 80%;
    height: 310px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 2px solid white;
}

.members-pic {
    width:200px;
    height: 280px;
    float: left;
    border-radius: 16%;
    padding: 5px;
}

/*--------------------- Album Flipping --------------------- */


.btn {
    background-color: rgba(247, 241, 241, 0.845);
    border-radius: 15px;
    padding: 16px;
}

.tourTime {
    font-size: 16px;
}

.tourDate {
    font-size: 20px; 
}

.tourImage {
    display: block;
    margin: auto;
}

/*--------------------- Media Queries --------------------- */

@media (max-width: 800px) {
    nav{
        display: flex;
        border-radius: 4px;
        padding: 0;
        background-color: #111;
        font-family: 'Abel';
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: bold;
        position: static;
        flex-direction: column;
    }

    nav ul a{
        list-style: none;
        display: inline;
    }
    
    #nav-pages{
        justify-content: space-around;
        display: unset;
        width: 100%;
    }

    #nav-pages li:hover{
        transition: all 1.5s ease;
        background-color: tomato;
    }

    #nav-media-icons a{
        width: 100%;
    }

    #nav-media-icons{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #filler{
        height: 0px;
    }

    /*---------------- Index Page ----------------*/

    #right-col{
        width: 0px;
    }

    #left-col{
        width: 100%;
    }

    iframe{
        width: 374px;
    }

    #video-player{
        margin: 0 auto;
    }    
 }

